/* style.css */
/* Author: Peggy Wong */

*{
  font-family: Arial, Helvetica, sans-serif;
}

/* Please check on the second page */
html{
  scroll-padding-top: 6rem;
}

body{
  padding-top: 72px;
}

nav{
  background-color: #102c3c;
}

.cover{
  position: relative;
}

.cover:before{
  content: "";
  background-image: url('img/cover.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index: -1;
}

.profile-picture{
  background-color: #102c3c;
  border: 5px solid #102c3c;
  border-radius: 50%;
  height: 125px;
  margin-bottom: 20px;
}

.title{
  color: #23395d;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #102c3c;
}

.subtitle{
  color: #23395d;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 0.4px 0.4px 0.4px #102c3c;
}

main{
  background-color: #faffff;
}

main h1{
  text-align: center;
  color: #165788;
  font-size: 22px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

main p{
  color: #102c3c;
  font-size: 18px;
  margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0px 4px;
}

.column img {
  width: 100%;
}

.thumbnail {
  position: relative;
  margin-bottom: 8px;
}

.overlay{
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay p{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover .overlay{
  opacity: 1;
}

.tag{
  text-align: center;
  margin-bottom: 16px;
}

.work .preview{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  max-width: 900px;
  width: 100%;
}

.work img{
  width: 100%;
}

footer{
  background-color: #102c3c;
  font-size: 0.8rem;
  text-align: center;
}

@media only screen and (max-width: 768px){
  .overlay p{
      font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px){
  .overlay p{
      font-size: 0.6rem;
  }
}